@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&family=Source+Serif+4&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Prata&family=Secular+One&family=Source+Serif+4&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Prata&family=Secular+One&family=Source+Serif+4&display=swap');

:root{
    --fonte-padrao: 'Source Serif 4', sans-serif;
    --fonte-destaque: 'Secular One', sans-serif;
    --fonte-titulo: 'Prata', serif;
    --fonte-destaque-2: 'Courgette', cursive;

    --cor0: #e9dfd5;
    --cor1:#e5d5be;
    --cor2: #d6a980;
    --cor3: #a46158;
    --cor4: #798f6a;

    --cinza: #222222;
}

body{
    height: 750px;
    background-color: var(--cor0);
    background-size: cover;
    background-repeat: no-repeat;
}
nav{
    text-align: center;
    margin-bottom: 60px;
}
nav a{
    text-decoration: none;
    color: #222222;
    font-family: var(--fonte-destaque);
    font-size: larger;
    margin-right:  20px;
}
#titulo{
    display: flex;
    text-align: center;
    align-items: center;
}
#titulo h1{
    font-family: var(--fonte-titulo);
    color: #222222;
    align-items: center;
    font-size: 45px;
}
#titulo h2{
    color: #a46158;
    font-family: var(--fonte-titulo);
    font-size: 30px;
    font-weight: bolder;
}
#titulo-2{
    align-items: center;
    text-align: center;
    margin: auto;
}
main p{
    text-indent: 2em;
    width: 500px;
    margin: auto;
    text-align: center;
    font-family: var(--fonte-padrao);
    color: #222222;
    font-size: larger;
}
main h3{
    font-family: var(--fonte-destaque);
    font-size: 25px;
    width: auto;
    color: #a46158;
    text-align: center;
}
footer{
    text-align: center;
    color: white;
    font-family: var(--fonte-padrao);
    font-size: larger;
    padding: 7px;
    margin-top: 30px;
    background-color: #798f6a;
}
#sobre h2{
    color: #a46158;
    font-family: var(--fonte-padrao);
    font-size: 30px;
}
#sobre{
    text-align: center;
}
#devs{
    text-align: center;
    font-family: var(--fonte-destaque);
    font-size: 40px;
    color: #222222;
    margin: auto;
}